if TARGET_NTL_HIVE_S

config SYS_BOARD
	default "hive-s"

config SYS_VENDOR
	default "ntl"

config SYS_CPU
	default "generic"

config SYS_CONFIG_NAME
	default "ntl-hive-s"

config TEXT_BASE
	default 0x40040000 if !RISCV_SMODE
	default 0x40040000 if RISCV_SMODE

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	imply CPU_RISCV
	imply RISCV_TIMER
	imply CMD_CPU
	imply SMP

endif
