CONFIG_CREATE_ARCH_SYMLINK=y
CONFIG_HAVE_SETJMP=y
CONFIG_SUPPORT_LITTLE_ENDIAN=y
CONFIG_32BIT=y
CONFIG_SYS_CACHELINE_SIZE=64
CONFIG_LINKER_LIST_ALIGN=4
CONFIG_RISCV=y
CONFIG_SYS_ARCH="riscv"
CONFIG_SYS_CPU="generic"
CONFIG_SYS_VENDOR="ntl"
CONFIG_SYS_BOARD="hive-s"
CONFIG_SYS_CONFIG_NAME="ntl-hive-s"

CONFIG_USE_ARCH_MEMCPY=y
CONFIG_USE_ARCH_MEMMOVE=y
CONFIG_USE_ARCH_MEMSET=y
CONFIG_TEXT_BASE=0x41000000
CONFIG_SYS_MALLOC_LEN=0x800000
CONFIG_SYS_MALLOC_F_LEN=0x3000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SOURCE_FILE=""
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x46000000
CONFIG_ENV_SIZE=0x1f000
# CONFIG_DM_GPIO is not set
CONFIG_DEFAULT_DEVICE_TREE="ntl-hive-s"
CONFIG_BOARD_SPECIFIC_OPTIONS=y
# CONFIG_OF_LIBFDT_OVERLAY is not set
CONFIG_MULTI_DTB_FIT_UNCOMPRESS_SZ=0x8000
CONFIG_DM_RESET=y
CONFIG_SYS_MONITOR_LEN=0
CONFIG_SYS_BOOTM_LEN=0x4000000
CONFIG_SYS_LOAD_ADDR=0x45000000
CONFIG_WATCHDOG_TIMEOUT_MSECS=60000
CONFIG_ERR_PTR_OFFSET=0x0
CONFIG_SYS_CLK_FREQ=100000000
CONFIG_SYS_MEM_TOP_HIDE=0x0
CONFIG_BUILD_TARGET=""

#
# RISC-V architecture
#
CONFIG_TARGET_NTL_HIVE_S=y
CONFIG_ARCH_RV32I=y
CONFIG_CMODEL_MEDLOW=y
CONFIG_RISCV_SMODE=y
CONFIG_RISCV_ISA_C=y
# CONFIG_RISCV_ISA_F is not set
# CONFIG_RISCV_ISA_ZBB is not set

#
# Use assembly optimized implementation of string routines
#
CONFIG_RISCV_ISA_A=y
CONFIG_SBI=y
CONFIG_SBI_V02=y
CONFIG_AVAILABLE_HARTS=y
CONFIG_SHOW_REGS=y
CONFIG_STACK_SIZE_SHIFT=14
CONFIG_OF_BOARD_FIXUP=y

#
# Use assembly optimized implementation of memory routines
#
CONFIG_SYS_LITTLE_ENDIAN=y

#
# General setup
#
CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=y
CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=140200
CONFIG_CLANG_VERSION=0
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_SYS_MALLOC_F=y
CONFIG_EXPERT=y
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_PLATFORM_ELFENTRY="_start"
CONFIG_STACK_SIZE=0x1000000
CONFIG_HAVE_TEXT_BASE=y
CONFIG_SYS_UBOOT_START=0x41000000

#
# Boot options
#

#
# UEFI Support
#
CONFIG_EFI_LOADER=y
CONFIG_EFI_BINARY_EXEC=y

#
# UEFI services
#

#
# UEFI Variables
#
CONFIG_EFI_VARIABLE_NO_STORE=y
# CONFIG_EFI_VARIABLES_PRESEED is not set
CONFIG_EFI_VAR_BUF_SIZE=131072
CONFIG_EFI_PLATFORM_LANG_CODES="en-US"

#
# Capsule support
#
# CONFIG_EFI_RUNTIME_UPDATE_CAPSULE is not set
CONFIG_EFI_CAPSULE_MAX=15

#
# UEFI protocol support
#
CONFIG_EFI_DEVICE_PATH_TO_TEXT=y
CONFIG_EFI_DEVICE_PATH_UTIL=y
CONFIG_EFI_DT_FIXUP=y
CONFIG_EFI_LOADER_HII=y
CONFIG_EFI_UNICODE_COLLATION_PROTOCOL2=y
CONFIG_EFI_UNICODE_CAPITALIZATION=y
CONFIG_EFI_LOAD_FILE2_INITRD=y
CONFIG_EFI_RISCV_BOOT_PROTOCOL=y
# CONFIG_EFI_IP4_CONFIG2_PROTOCOL is not set

#
# Misc options
#
# CONFIG_EFI_LOADER_BOUNCE_BUFFER is not set
CONFIG_EFI_ECPT=y
CONFIG_EFI_EBBR_2_1_CONFORMANCE=y
# CONFIG_EFI_SCROLL_ON_CLEAR_SCREEN is not set

#
# EFI bootmanager
#
CONFIG_EFI_BOOTMGR=y
# CONFIG_EFI_HTTP_BOOT is not set
CONFIG_BOOTEFI_HELLO_COMPILE=y
CONFIG_BOOTEFI_TESTAPP_COMPILE=y

#
# Boot images
#
CONFIG_FIT=y
CONFIG_PXE_UTILS=y
CONFIG_BOOTSTD=y
CONFIG_BOOTSTD_BOOTCOMMAND=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_SYS_BOOT_RAMDISK_HIGH=y

#
# Autoboot options
#
CONFIG_AUTOBOOT=y
CONFIG_BOOTDELAY=2

#
# Devicetree fixup
#
CONFIG_ARCH_FIXUP_FDT_MEMORY=y

#
# Configuration editor
#

#
# Console
#
CONFIG_MENU=y
CONFIG_SYS_CBSIZE=1024
CONFIG_SYS_PBSIZE=1044
CONFIG_LOGLEVEL=4
CONFIG_CONSOLE_FLUSH_SUPPORT=y

#
# Start-up hooks
#
CONFIG_EVENT=y
CONFIG_EVENT_DYNAMIC=y
CONFIG_LAST_STAGE_INIT=y

#
# Security support
#
CONFIG_HASH=y

#
# Blob list
#
CONFIG_SUPPORT_SPL=y
CONFIG_CMDLINE=y
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_SYS_LONGHELP=y
CONFIG_SYS_PROMPT="=> "
CONFIG_SYS_MAXARGS=64
CONFIG_SYS_XTRACE=y

#
# Commands
#

#
# Info commands
#
CONFIG_CMD_BDI=y
CONFIG_CMD_CONSOLE=y
CONFIG_CMD_CPU=y

#
# Boot commands
#
CONFIG_CMD_BOOTD=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTFLOW=y
CONFIG_BOOTM_EFI=y
CONFIG_BOOTM_ELF=y
# CONFIG_CMD_BOOTZ is not set
CONFIG_CMD_BOOTI=y
CONFIG_BOOTM_LINUX=y
CONFIG_CMD_BOOTEFI=y
CONFIG_CMD_BOOTEFI_BINARY=y
CONFIG_CMD_BOOTEFI_BOOTMGR=y
CONFIG_CMD_ELF=y
CONFIG_CMD_ELF_BOOTVX=y
CONFIG_CMD_FDT=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
CONFIG_CMD_IMI=y
CONFIG_CMD_XIMG=y
CONFIG_SYS_XIMG_LEN=0x800000

#
# Environment commands
#
CONFIG_CMD_EXPORTENV=y
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_ENV_EXISTS=y

#
# Memory commands
#
# CONFIG_CMD_BINOP is not set
CONFIG_CMD_CRC32=y
# CONFIG_CRC32_VERIFY is not set
# CONFIG_LOOPW is not set
# CONFIG_CMD_MD5SUM is not set
# CONFIG_CMD_MEMINFO is not set
CONFIG_CMD_MEMORY=y

#
# Compression commands
#
CONFIG_CMD_LZMADEC=y
CONFIG_CMD_UNLZ4=y
CONFIG_CMD_UNZIP=y

#
# Device access commands
#
CONFIG_CMD_DM=y
CONFIG_CMD_LOADB=y
CONFIG_CMD_LOADS=y
CONFIG_CMD_LOADXY_TIMEOUT=90

#
# Shell scripting commands
#
CONFIG_CMD_ECHO=y
CONFIG_CMD_ITEST=y
CONFIG_CMD_SOURCE=y
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_NET=y
CONFIG_CMD_BOOTP=y
CONFIG_BOOTP_BOOTPATH=y
CONFIG_BOOTP_DNS=y
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_HOSTNAME=y
CONFIG_BOOTP_SUBNETMASK=y
CONFIG_BOOTP_VCI_STRING="U-Boot"
CONFIG_NET_TFTP_VARS=y
CONFIG_CMD_TFTPBOOT=y

#
# Misc commands
#
CONFIG_CMD_BLOCK_CACHE=y
CONFIG_CMD_EFICONFIG=y
CONFIG_CMD_SLEEP=y

#
# Partition Types
#
CONFIG_SUPPORT_OF_CONTROL=y

#
# Device Tree Control
#
CONFIG_OF_CONTROL=y
CONFIG_OF_REAL=y
CONFIG_OF_SEPARATE=y
CONFIG_DEVICE_TREE_INCLUDES=""
CONFIG_OF_LIST="ntl-hive-s"
CONFIG_OF_OVERLAY_LIST=""
CONFIG_OF_TAG_MIGRATE=y

#
# Environment
#
CONFIG_ENV_SUPPORT=y
CONFIG_ENV_CALLBACK_LIST_STATIC=""
CONFIG_SAVEENV=y
CONFIG_ENV_MIN_ENTRIES=64
CONFIG_ENV_MAX_ENTRIES=512
CONFIG_ENV_IS_DEFAULT=y
CONFIG_ENV_IS_NOWHERE=y

#
# Device Drivers
#

#
# Generic Driver Options
#
CONFIG_DM=y
CONFIG_DM_DEVICE_REMOVE=y
CONFIG_DM_EVENT=y
CONFIG_DM_STDIO=y
CONFIG_DM_SEQ_ALIAS=y
CONFIG_SIMPLE_BUS=y
CONFIG_OF_TRANSLATE=y
CONFIG_DM_DEV_READ_INLINE=y

#
# Bus devices
#
CONFIG_BLK=y
CONFIG_BLOCK_CACHE=y

#
# Clock
#
CONFIG_CLK=y
CONFIG_CPU=y
CONFIG_CPU_RISCV=y

#
# Hardware Spinlock Support
#
CONFIG_INPUT=y

#
# MTD Support
#
CONFIG_MTD=y
# CONFIG_DM_MTD is not set
# CONFIG_MTD_NOR_FLASH is not set

#
# SPI Flash Support
#
# CONFIG_SPI_FLASH is not set

#
# Multiplexer drivers
#
CONFIG_PHY_RESET_DELAY=0
CONFIG_ETH=y
CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y

#
# Pin controllers
#
CONFIG_POWER=y

#
# Remote Processor drivers
#
CONFIG_REMOTEPROC_MAX_FW_SIZE=0x10000

#
# UART
#
CONFIG_SERIAL=y
CONFIG_BAUDRATE=115200
CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_SERIAL_PRESENT=y
CONFIG_DM_SERIAL=y
CONFIG_LITEUART_SERIAL=y

#
# Timer Support
#
CONFIG_TIMER=y
CONFIG_RISCV_TIMER=y

#
# Library routines
#
CONFIG_CHARSET=y
CONFIG_LIB_UUID=y
CONFIG_PRINTF=y
CONFIG_SPRINTF=y
CONFIG_STRTO=y
CONFIG_SYS_HZ=1000
CONFIG_REGEX=y
CONFIG_SUPPORT_ACPI=y

#
# Alternative crypto libraries
#
CONFIG_LEGACY_HASHING_AND_CRYPTO=y
CONFIG_LEGACY_HASHING=y
CONFIG_SHA1_LEGACY=y
CONFIG_SHA256_LEGACY=y
CONFIG_MD5_LEGACY=y
CONFIG_LEGACY_CRYPTO=y

#
# Hashing Support
#
CONFIG_SHA1=y
CONFIG_SHA256=y
CONFIG_MD5=y
CONFIG_CRC8=y
CONFIG_CRC16=y
CONFIG_CRC32=y

#
# Compression Support
#
CONFIG_LZ4=y
CONFIG_LZMA=y
CONFIG_GZIP=y
CONFIG_ZLIB=y
CONFIG_VPL_LZMA=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_LIBFDT_ASSUME_MASK=0x0
CONFIG_SYS_FDT_PAD=0x3000

#
# System tables
#
CONFIG_GENERATE_SMBIOS_TABLE=y
CONFIG_SMBIOS=y
CONFIG_LIB_ELF=y
CONFIG_LMB=y

#
# Tools options
#
CONFIG_MKIMAGE_DTC_PATH="dtc"
CONFIG_TOOLS_CRC16=y
CONFIG_TOOLS_CRC32=y
CONFIG_TOOLS_LIBCRYPTO=y
CONFIG_TOOLS_KWBIMAGE=y
CONFIG_TOOLS_FIT=y
CONFIG_TOOLS_FIT_FULL_CHECK=y
CONFIG_TOOLS_FIT_PRINT=y
CONFIG_TOOLS_FIT_RSASSA_PSS=y
CONFIG_TOOLS_FIT_SIGNATURE=y
CONFIG_TOOLS_FIT_SIGNATURE_MAX_SIZE=0x10000000
CONFIG_TOOLS_FIT_VERBOSE=y
CONFIG_TOOLS_MD5=y
CONFIG_TOOLS_OF_LIBFDT=y
CONFIG_TOOLS_SHA1=y
CONFIG_TOOLS_SHA256=y
CONFIG_TOOLS_SHA384=y
CONFIG_TOOLS_SHA512=y
CONFIG_TOOLS_MKEFICAPSULE=y
